<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for shelve in shelve_list %}
    <a href="/{{ shelve.name }}/">
        {{ shelve.name }}
    </a>
{% endfor %}
</body>
</html>