<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for book in book_list %}
    {{ book.name }}
    {{ book.status }}
    <form action="{% url 'get_book' book.id %}" method="post">
        {% csrf_token %}
        <button>
            Взять
        </button>
    </form>
    <form action="{% url 'put_book' book.id %}" method="post">
        {% csrf_token %}
        <button>
            Положить
        </button>
    </form>
{% endfor %}
</body>
</html>